@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Comfortaa");
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px; }

.primary-color {
  color: #000000; }

.secondary-color {
  color: #fff; }

.primary-bg-color {
  background-color: #2e4272; }

.secondary-bg-color {
  background-color: #fff; }

.xs-height {
  height: 50px; }

.sm-height {
  height: 100px; }

.md-height {
  height: 150px; }

.lg-height {
  height: 250px; }

.xl-height {
  height: 500px; }

.full-vh {
  height: 100vh; }

.hundred-height {
  height: 100%; }

.architect {
  font-family: 'Architects Daughter', cursive; }

.comf {
  font-family: 'Comfortaa', sans-serif; }

.pink-floyd {
  font-family: 'pink-floyd', 'cursive'; }

.xs-font {
  font-size: 0.5em; }

.sm-font {
  font-size: 1em; }

.md-font {
  font-size: 1.25em; }

.lg-font {
  font-size: 1.5em; }

.xl-font {
  font-size: 2em; }

.xxl-font {
  font-size: 2.5em; }

.display-block {
  display: block; }

.display-inline-block {
  display: inline-block; }

.display-none {
  display: none; }

.margin-null {
  margin: 0; }

.padding-null {
  padding: 0; }

.fill {
  height: 100%;
  width: 100%; }

.flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-space-around {
  justify-content: space-around; }

.justify-space-between {
  justify-content: space-between; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.align-center {
  align-items: center; }

.align-space-around {
  align-items: space-around; }

.align-space-between {
  align-items: space-between; }

.position-relative {
  position: relative; }

.position-fixed {
  position: fixed; }

.position-absolute {
  position: absolute; }

.top-0 {
  top: 0px; }

.bottom-0 {
  bottom: 0px; }

.left-0 {
  left: 0px; }

.right-0 {
  right: 0px; }

.img-fill {
  background-size: cover;
  background-position: center; }

.attatchment-fixed {
  background-attachment: fixed; }

.hidden {
  visibility: hidden; }

/* cursor pointers */
.pointer {
  cursor: pointer; }

body {
  font-family: 'Comfortaa', cursive;
  background-color: #2e4272;
  color: #aa8439; }

.date-header-cont p {
  font-size: 2em;
  text-shadow: 1px 1px 1px #805c15; }

.middle-box, .side-box {
  box-shadow: 3px 3px 3px #061539;
  border: 2px solid #162955;
  padding-top: 20px;
  font-weight: 700; }

.side-box {
  height: 194px; }

@media only screen and (max-width: 768px) {
  .side-box {
    height: 100%; } }
.icon-cont {
  height: 50px;
  width: 50px; }
  .icon-cont img {
    height: 50px;
    width: 50px; }

.temp-button {
  margin-top: 20px;
  background-color: #4f628e;
  border: 2px solid #162955;
  padding: 5px;
  border-radius: 5%; }
  .temp-button:hover {
    background-color: #7887ab; }

footer div {
  margin-top: 20px; }

/*# sourceMappingURL=styles.css.map */
