// heights
$xs-height:50px;
$sm-height:100px;
$md-height:150px;
$lg-height:250px;
$xl-height:500px;

// colors
$primary-color:#2e4272;
$dark-blue:#162955;
$darker-blue:#061539;
$light-blue: #4f628e;
$lighter-blue:#7887ab;
$secondary-color:#aa8439;
$black:#000000;
$white:#fff;
// fonts
$xs-font:.5em;
$sm-font:1em;
$md-font:1.25em;
$lg-font:1.5em;
$xl-font:2em;
$xxl-font:2.5em;
